initDir:      /project2/rkessler/SURVEYS/SNTRAIN/ROOT/SALT2/base_training_files/00_jla_base 
trainingDir:  /project2/rkessler/SURVEYS/PS1MD/USERS/dscolnic/PANTHEON+/submit_trainSALT2/out_train_v7_1_bd17fix/OUTPUT_TRAIN/TRAINOPT004 
outputDir:    /project2/rkessler/SURVEYS/PS1MD/USERS/dscolnic/PANTHEON+/submit_trainSALT2/out_train_v7_1_bd17fix/SALT2.MODEL004 
